.IndexTop{
    height:5%;
    background:#33322d;
    width:100%;
}

.IndexBanner{
    height:50%;
    background:url(../img/index.jpg) no-repeat left center;
    background-size:cover; -moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    display:block;
}

.card h2{
    color:#73879C;
    text-align:center;
}

.index_row{
    margin-left:20px!important;
    margin-right:20px!important;
    height:40%
}

.card_col{
    padding-top:40px
}

.cardlink{
position: absolute;
top: 0; left: 0;
height: 100%; width: 100%;
}